@model AkademetreExample.Models.Info
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form">
                <div class="form-group">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SurName)
                    @Html.TextBoxFor(x => x.SurName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Address)
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                </div>
                <button class="btn btn-success" id="addData">Gönder</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).on('click', '#addData', function () {
            var data = new Object();
            data.Name = $('#Name').val();
            data.SurName = $('#SurName').val();
            data.Email = $('#Email').val();
            data.Address = $('#Address').val();

            data = JSON.stringify(data);

            console.log(data.name);
            $.ajax({
                url: "/Home/Index",
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'text/plain'
                }
            })
                .done(function (data2) {
                    console.log(data2);
                });
        })
    </script>

}